<h1> {{baslik.title}}</h1>

<div class="list-group">
  <app-entry *ngFor="let entry of entryler" [entry]="entry"></app-entry>
</div>

<div>
  <form #myForm="ngForm" (ngSubmit)="submitForm(myForm);">
    <div>
      <div *ngIf="!baslik.title">
        <label>Kategori: </label>
        <select name="kategori" ngModel  *ngIf="!baslik.title" required>
          <option value="{{kategori.id}}" *ngFor="let kategori of kategoriler">{{kategori.text}}</option>
        </select>  <br>

        <label>Başlık: </label>
        <input type="text" placeholder="Baslik" name="baslikAdi" ngModel required> <br>

      </div>
     

      <label>Entry: </label><input type="text" placeholder="Entry " name="entry" ngModel required> <br>
       
      <button type="submit" [disabled]="myForm.invalid">Ekle</button>

    </div>
  </form>
</div>